.navImg {
    max-width: 100%;
    height: 40px;
}

.footer {
    .footerImg {
        padding: 0 1.5rem;
        height: 88px;

        @media (min-width:768px) {
            padding-left: 3rem;
        }
    }


    .sitesMap {
        display: none;

        @media (min-width:576px) {
            width: 38%;
            display: flex;
            flex-wrap: wrap;
        }

        @media (min-width:768px) {
            width: 33%;
        }

        @media(min-width:992px) {
            width: 27%;
        }
    }

    .sitesMap_a {
        color: $HFcolor;
        text-decoration: none;

        &:hover {
            color: $HFcolor-hover;
        }
    }

    .li_top {
        font-size: 1.3rem;
        width: 100%;
        color: $HFcolor ;
        font-weight: bold;
    }

    .contact {
        width: 55%;
        display: flex;
        flex-wrap: wrap;

        @media (min-width:576px) {
            width: 38%;
        }

        @media (min-width:768px) {
            width: 32%;
        }

        @media(min-width:992px) {
            width: 27%;
        }



        .contact_li {
            width: 100%;
            color: $HFcolor;
        }
    }
}