.bg-white {
  background-color: rgba(5, 18, 50, 0.9450980392) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFAEA;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(237, 187, 8);
}

.navbar-light .navbar-toggler {
  color: #FFFAEA;
  border-color: #FFFAEA;
}

body {
  overflow-x: hidden;
  background-color: rgba(241, 241, 241, 0.825);
}

ul {
  list-style: none;
  padding-left: 0;
}

.navImg {
  max-width: 100%;
  height: 40px;
}

.footer .footerImg {
  padding: 0 1.5rem;
  height: 88px;
}
@media (min-width: 768px) {
  .footer .footerImg {
    padding-left: 3rem;
  }
}
.footer .sitesMap {
  display: none;
}
@media (min-width: 576px) {
  .footer .sitesMap {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .footer .sitesMap {
    width: 33%;
  }
}
@media (min-width: 992px) {
  .footer .sitesMap {
    width: 27%;
  }
}
.footer .sitesMap_a {
  color: #FFFAEA;
  text-decoration: none;
}
.footer .sitesMap_a:hover {
  color: rgb(237, 187, 8);
}
.footer .li_top {
  font-size: 1.3rem;
  width: 100%;
  color: #FFFAEA;
  font-weight: bold;
}
.footer .contact {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .footer .contact {
    width: 38%;
  }
}
@media (min-width: 768px) {
  .footer .contact {
    width: 32%;
  }
}
@media (min-width: 992px) {
  .footer .contact {
    width: 27%;
  }
}
.footer .contact .contact_li {
  width: 100%;
  color: #FFFAEA;
}

.divContainer {
  padding: 3rem;
  min-height: 70vh;
}

.slide {
  display: none;
}
@media (min-width: 576px) {
  .slide {
    display: block;
  }
}

.slideImg {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.mainBG {
  background-image: url("https://pic03.eapple.com.tw/yuanchu/about-01.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.mainBG ::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.225);
}

.textShadow {
  text-shadow: 0 0 black;
}

.userHouse .seller {
  background: rgb(32, 103, 174);
}
.userHouse .seller a {
  text-decoration: none;
  color: white;
}
.userHouse .buyer {
  background: rgb(237, 161, 8);
  color: white;
}
.userHouse .buyer a {
  text-decoration: none;
  color: black;
}

.house {
  display: flex;
  flex-wrap: wrap;
}
.house .house_card {
  width: 20rem;
  margin: 0.5rem;
}
.house .house_card_dflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.house p {
  margin: 0.5rem 0;
}

.search {
  display: flex;
  flex-wrap: wrap;
}
.search .searchHouse {
  width: 45rem;
  margin: 0.5rem;
}
.search p {
  margin: 0.5rem 0;
}

.aboutWeb h3 {
  padding: 1.5rem;
  font-size: 2.75rem;
}
.aboutWeb p {
  padding: 0 1.5rem;
  font-size: 1.5rem;
}/*# sourceMappingURL=all.css.map */