@import "variable";
@import "base";
@import "layout";


.divContainer {
  padding: 3rem;
  min-height: 70vh;
}
.searchBG{
  background-image:url("https://www.mirrormedia.com.tw/assets/images/20210218124538-0e5751c431efb3740db5367302f93786-tablet.jpg");
background-size: cover;
background-position: center;
position: relative;
z-index: 0;
}

.searchBG::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.567)
    /* 设置透明度 */
}
.slide {

  display: none;

  @media (min-width: 576px) {
    display: block;
  }
}

.slideImg {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.mainBG {
  background-image: url("https://pic03.eapple.com.tw/yuanchu/about-01.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.mainBG ::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.225)
    /* 设置透明度 */
}

.textShadow {
  text-shadow: 0 0 black
}


.userHouse {
  .seller {
    background: rgb(32 103 174);

    a {
      text-decoration: none;
      color: white;
    }
  }

  .buyer {
    background: rgb(237, 161, 8);
    color: white;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.house {
  display: flex;
  flex-wrap: wrap;

  .house_card {
    width: 20rem;
    margin: 0.5rem;
  }

  .house_card_dflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    margin: 0.5rem 0;
  }
}

.search {
  display: flex;
  flex-wrap: wrap;

  .searchHouse {
    width: 45rem;
    margin: 0.5rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.aboutWeb {
  h3 {
    padding: 1.5rem;
    font-size: 2.75rem;
  }

  p {
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }
}

.popup {
  font-weight: bold;
  position: fixed;
  background-color: rgb(248, 241, 229);
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 5;
}

.popup.active {
  display: block;
}

.down {
  display: inline-block;
  font-weight: bold;
  background-color: rgb(248, 241, 229);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}